.category-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0;
  padding: 20px;
}

.category-header {
  font-size: 1.2em;
  color: var(--brand-primary-color);
  margin-bottom: 10px;
}

.category-list-item {
  display: block;
  padding: 10px 20px;
  margin: 5px 0;
  color: var(--focus-indicator-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.category-list-item:hover {
  background-color: var(--brand-primary-light-color);
}
