.productdisplay {
  display: flex;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.productdisplay-left {
  flex: 1;
  padding: 20px;
}

.productdisplay-img-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productdisplay-img-list img {
  width: 30%;
  object-fit: cover;
}

.productdisplay-img img {
  width: 100%;
  object-fit: cover;
}

.productdisplay-right {
  flex: 1;
  padding: 20px;
}

.productdisplay-right h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.productdisplay-right-star {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.productdisplay-right-star img {
  margin-right: 5px;
}

.productdisplay-right-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productdisplay-right-price-old {
  text-decoration: line-through;
  color: #999;
}

.productdisplay-right-price-new {
  color: #e91e63;
}

.productdisplay-right-description {
  margin-bottom: 20px;
}

.productdisplay-right-size h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.productdisplay-right-sizes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productdisplay-right-sizes div {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.productdisplay-right-category {
  margin-top: 20px;
}

.productdisplay-right-category span {
  font-weight: bold;
}
