.custom-confirm-button {
    background-color: black !important;
    color: white !important;
    border: none !important;
    height: 32px !important;
    font-size: 14px !important;
  }
  
  .custom-cancel-button {
    height: 32px !important;
    font-size: 14px !important;
    order: -1; /* Move Cancel button to the left */
  }