.cartitems {
  margin: 100px auto; /* Use auto to center the cart items horizontally */
  width: 80%; /* Limit the width to 80% of the parent */
  max-width: 1200px; /* Set a maximum width to prevent the cart items from becoming too wide on large screens */
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2em; /* Use em for the gap to make it scale with the font size */
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
  object-fit: contain; /* Ensure the image scales to fit within its box */
}

.cartitem-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
