.shopcategory-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
}
