.container {
  background-color: #f9f9f9;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fefefe;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.nav-left,
.nav-mid,
.nav-right {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav-mid {
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-right {
  gap: 20px;
}

.nav-cart {
  position: relative;
  display: inline-block; /* This makes the link content width only as wide as it needs to be */
}

.nav-cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red; /* This makes the background red */
  color: white; /* This makes the text color white */
  padding: 2px; /* This creates some space around the count */
  border-radius: 50%; /* This makes the div circular */
  min-width: 20px; /* This ensures the circle maintains its shape even with single digit numbers */
  text-align: center; /* This centers the count in the circle */
}

.no-underline {
  text-decoration: none;
  color: inherit;
}
.wallet {
  display: block;
}
