.container {
  background-color: #f9f9f9;
}
.nav-breadcrumb {
  background-color: #f9f9f9;
  margin-left: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fefefe;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.nav-left,
.nav-mid,
.nav-right {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav-mid {
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-right {
  gap: 20px;
}

.nav-cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8em;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}
