.searchBar form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  height: 30px;
}

.searchBar button {
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
}

.searchBar button:hover {
  background-color: #0056b3;
}
